.dropdown{
    &-menu{
        border-radius: .1rem;
        border-color: #dddddd;
        padding: 0;
        margin-top: -.1rem;
    }
    &-item{
        font-size: 1.3rem;
        text-transform: capitalize;
        padding: .5rem 1rem;
        .fas{
            margin-right: .25rem;
            display: none;
        }
        &.active,
        &:active{
            background-color: #f8f9fa;
            .fas{
                display: inline-block;
            }
        }
    }
}