.multi-select{
    .dropdown{
        &-toggle{
            &::after{
                display: none;
            }
        }
    }
    .dropdown-menu{
        min-width: 50rem;
        .dropdown-item{
            line-height: 2rem;
            font-size: 1.3em;
            &:hover,&.active{
                cursor: pointer;
                background-color: #eee;
                border-radius:.1rem;
                //color: $white;
            }
        }
        .tab-pane{
            max-height: 30rem;
            overflow-y: auto;
        }
        .nav-item{
            a{
                cursor: pointer;
                font-size: 1.3em;
            }
            .nav-link{
                //font-weight: 500;
                padding: .4em 1.5rem;
                font-size: 1.4rem;
                border-radius: .2rem;
                &.active{
                   border-color:  #999  #999 $white;
                }
            }
        }
        .tab-content{
            .form-control{
                border-right: 0px;
                border-left: 0px;
                border-top:0px;
                &:focus{
                    border-bottom: 1px solid  lighten($theme-secondary,25%);
                    &::-webkit-input-placeholder {
                        color:transparent;
                    }
                    &::-moz-placeholder {
                        color:transparent;
                    }

                }
                &:-moz-placeholder  {
                    color:transparent;
                }
            }
        }
    }
    .nav-tabs{
        border-bottom: .1rem solid #999;
    }
}

@media (max-width: 576px) {
  .multi-select{
    .dropdown-menu{
      min-width: 100%;
    }
  }
}

.form-group {
    &.multi-select {
      .form-control:disabled, .form-control[readonly] {
          background-color: $white !important;
          opacity: 1;
      }
    }
  }

//   .multi-select {
//     .nav-tabs {
//       border: 0 !important;
//       .nav-item {
//         width: 100%;
//       }
//     }
//     .dropdown-menu {
//       .nav-item {
//         .nav-link {
//           &.active {
//             border-bottom: 1px solid $theme-primary !important;
//             border: 0;
//           }
//         }
//       }
//     }
//   }
