$bg-pagination: #ababab;
.bxpagn{
    margin-top: 1.5rem;
    .pagination{
        margin: 0;
        border-top: 0 solid #ebebeb;
        padding: 0;
        border-radius: 0;
        justify-content: flex-end;
        .page-item{
            margin: 0;
            &.active{
                .page-link{
                    color: #fff;
                    background-color: $pagination-color;
                    border-color: $pagination-color;
                }
            }
        }
        .page-link{
            border: .1rem solid #ebebeb;
            color: #ababab;
            font-size: 1.2rem;
            font-weight: 400;
            text-transform: uppercase;
            border-radius: .1rem;
            padding: .4rem .8rem;
            background-color: #fff;
        }
    }
}

@media only screen and (max-width: 767px) {
    .bxpagn{
        .pagination{
            .page-link{
                // padding: .2rem .5rem;
                // font-size: 1.2rem;
            }
        }
    }
}