.pillsNav{
    border-radius: .8rem 0rem 0rem .8rem;
   
    .nav-pills{
        background: transparent;
        .nav-link{
            &.active{
                background-color:$offwhite;
                 border-color:$grey;
                color: $lightredtext;
                border-radius: .8rem 0rem 0rem .8rem;
                border: 1px solid $soft-gray;
                border-right:0rem;
                font-weight: 500;
                box-shadow: none;

            }
            background:$theme-primary;
            color: $white;
            margin-bottom: .2rem;
            border-radius: .8rem 0rem 0rem .8rem;
            padding:.8rem .8rem;
            border: 1px solid $soft-gray;
            border-right:0rem;
            font-size: 1.3rem;
            position: relative;
            box-shadow: -1px 0px 6px 0px $shadowcolor1 inset;
            -webkit-box-shadow: -1px 0px 6px 0px $shadowcolor1 inset;
            -khtml-box-shadow: -1px 0px 6px 0px $shadowcolor1 inset;
            -moz-box-shadow: -1px 0px 6px 0px $shadowcolor1 inset;
            font-weight: 500;
            &::after{
                content: " ";
                display: block;
                height: 5px;
                background: $soft-gray;
                width: 1px;
                position: absolute;
                right: 0;
                bottom: -5px;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }

        }
    }
    .tab-content{
        flex: 4;       
        border-radius: 0rem .8rem .8rem 0rem;
        border: 1px solid $soft-gray;
        border-left:0rem; 
        background: $offwhite;      
        ul{
            padding: 2.3px 0px;
        }
        .tab-pane{
            margin-left: 10%;
        }
    }
    .col-2{
        max-width: 15rem;
    }
  
}


