
.bg-loader{
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    border: .3rem solid #eee;
    border-radius: 50%;
    border-top: .3rem solid $preloader-primary;
    border-bottom: .3rem solid $preloader-primary;
    border-left: .3rem solid $preloader-primary;
    width: 4.8rem;
    height: 4.8rem;
    -webkit-animation: spin 1.75s linear infinite; /* Safari */
    animation: spin 1.75s linear infinite;
    &.md{
        width: 4rem;
        height: 4rem;
        border-width: .3rem;
        border-top-width: .3rem;
    }
    &.sm{
        width: 3.2rem;
        height: 3.2rem;
        border-width: .3rem;
        border-top-width: .3rem;
    }
}

body{
    &.loading{
        position: relative;
        overflow: hidden;
        height: 100%;
        //padding-top: 0;
        .bg-loader{
            //background-color: rgba(0, 0, 0, .5);
            //margin-top: 0;
            .loader{
                border-top: .3rem solid $preloader-primary;
                border-bottom: .3rem solid $preloader-primary;
                border-left: .3rem solid $preloader-primary;

                margin-top: -7.3rem;
            }
        }
    }
    &.inner{
        &.loading{
            .bg-loader{
                //background-color: rgba(0, 0, 0, .5);
                //margin-top: -7.3rem;
                //margin-top: 0;
                .loader{
                    border-top: .3rem solid $preloader-primary;
                    border-bottom: .3rem solid $preloader-primary;
                    border-left: .3rem solid $preloader-primary;

                    margin-top: -7.3rem;
                }
            }
        }
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}