.cart-pad{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    h1{
        margin: 0 0 1rem 0;
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #555;
        line-height: 1.2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h4 {
      display: flex;
      margin: 0 0 0.5rem 0;
      padding: 0;
      color: $light-gray;
    }
}
.my-cart{
    /*    flex: 4;*/ width: 70%;
    background-color: #fff;
    padding: 1.5rem;
    .demo2-col {
      .notify-me {
        width: 50%;
      }
    }
    h1{
        .btn{
            background-color: $theme-secondary;
            text-transform: uppercase;
        }
    }
    .bximg{
        width: 12rem;
        img {
          max-width: 100%;
        }
        &.not-available {
          .label {
            font-size: 1.2rem !important;
            // top: 40%;
          }
        }
    }
    thead{
        background-color: #f7f7f7;
        th{
            color: #555;
            font-size: 1.4rem;
            font-weight: 600;
            text-transform: uppercase;
            border: 0;
            font-size: 1.4rem;
            padding: 1rem 0.5rem;
        }
    }
    tbody{
        td{
          border-color: $border;
          font-size: 1.4rem;
          padding: 1rem;
          // &:last-child {
          //   padding-right: 1rem;
          //   text-align: right;
          // }
            // .custom-select{
            //     margin-right: 1rem;
            //     border-radius: .1rem;
            //     font-size: 1.3rem;
            //     line-height: 1;
            //     width: 40px;
            // }
            .fa-trash-alt{
                font-size: 1.5rem;
                color: #c4c4c4;
            }
            .quantity{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 0;
                input{
                    width: 7rem;
                    text-align: center;
                    margin-right: 1rem;
                    font-size: 1.4rem;
                }
            }
            h3 {
              &.shipment-heading {
                font-size: 1.538rem;
                font-weight: 700;
                margin: 0;
                text-align: left !important;
                font-family: 'Lato', sans-serif;
              }
            }
            .my-cart-item-desc{
                display: flex;
                flex-direction: column;
                .alert {
                  width: max-content !important;
                  max-width: 19rem;
                }
                .price {
                  padding-bottom: 0rem;
                }
                &-new {
                  .cart-item-desc {
                    white-space: pre-line;
                      width: 50%;
                  }
                  .price {
                    &-new {
                      .offer {
                        font-size: 1.385rem;
                        color: $grey;
                        &:before {
                          content: '฿';
                          font-size: 1rem;
                        }
                      }
                      .discount {
                        background-color: $theme-secondary;
                        color: $white;
                        text-transform: uppercase;
                        font-size: 1rem;
                        padding: .2rem ;
                        font-weight: 500;
                        margin-left: .2rem;
                        font-family: 'Lato', sans-serif;
                      }
                      .actual {
                        color: $grey;
                        font-size: 1.385rem;
                        color: $light-gray;
                        text-decoration: line-through;
                        &:before {
                          content: '฿';
                          font-size: 1rem;
                        }
                      }
                    }
                  }
                }
                i{
                    color: $soft-gray;
                    font-size: 1.8rem;
                    margin-right: .5rem;
                }
                .cart-item-desc{
                  font-size: 1.4rem;
                  padding-bottom: 1rem;
                  max-width: 38rem;
                  word-wrap: break-word;
                  &-new {
                    font-size: 1.154rem;
                    word-break: break-all;
                  }
                }
            }
            .cart-action{
                font-size: 1.2rem;
                &-new {
                  i {
                    color: #cdcdcd;
                  }
                  label {
                    margin-right: 1rem;
                    &:last-child {
                      margin-right: 0;
                    }
                  }
                }
                label{
                    margin: 0 .5rem 0 0;
                    i{
                        font-size: 1.4rem;
                        color: #aaa;
                    }
                    &.delivery-period{
                        i{
                            color: $theme-primary;
                        }
                        color: $theme-primary;
                        float: right;
                        font-weight: 600;
                    }
                }

            }
            .total-amount {
              font-size: 1.231rem;
            }
        }
    }
}

.cart-item-add-remove{
    .fa-trash-alt{
        margin-left: 1rem;
    }
}

.order-summary{
    /*    flex: 0 0 30rem;*/ width: 28.5%;
    background-color: #fff;
    padding: 1.5rem;
    margin-left: 1.5%;
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
    height: 50vh;
    h1 {
      text-transform: capitalize;
      border-bottom: 0.1rem solid $border;
      padding-bottom: 1rem;
    }
    .home-location {
      background: rgba(77, 81, 189, 0.1);
      padding: 1rem;
      margin: 0 0 1rem;
      h4 {
        color: $grey;
      }
      small {
        font-size: 1.2rem;
      }
      .form-group {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        font-size: 1.538rem;
        color: $grey;
        width: 80%;
        align-items: center;
        .form-control {
          font-size: 1.538rem;
          margin-right: 1rem;
          text-align: center;
        }
        i {

        }
      }
    }
    .apply-coupon {
      padding: 0;
      background: $white;
      label {
        i {
          margin-left: 0.6rem;
        }
      }
      input[type=text] {
        background-color: rgba(77, 81, 189, 0.1) !important;
        padding: 1rem;
        font-size: 1.3rem;
      }
      .btn {
        &.btn-secondary {
          padding: 1rem;
          background-color: $theme-primary !important;
          border-color: $theme-primary !important;
          color: $white !important;
        }
      }
    }
    h1{
        flex-direction: column;
        align-items: flex-start;
        small{
            font-size: 1.1rem;
            text-transform: capitalize;
        }
    }
    .ships-to{
        margin-bottom: 1.5rem;
        label{
            font-size: 1.4rem;
            font-weight: 600;
            text-transform: uppercase;
            color: #555;
            line-height: 1.2;
            margin-right: 1rem;
        }
        input{
            padding: .5rem;
            font-size: 1.4rem;
            width: 6rem;
            display: inline-block;
        }
    }
    .order-list{
      &-new {
        ul {
          margin: 1rem 0 0 0;
          padding: 0;
          width: 100%;
          li {
            color: $light-gray;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 400;
            text-transform: capitalize;
            margin-bottom: 1rem;
            .total-amount{
              font-size: 1.692rem;
              color: $grey;
              &:before {
                content: '฿';
                font-size: 1rem;
              }
            }
            .bx-total{
              color: $light-gray;
              font-size: 1.4rem;
              text-transform: capitalize !important;
              .order-total{
                font-size: 1.846rem;
                font-weight: 600;
                color: $theme-secondary;;
                &:before {
                  content: '฿';
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
        label{
            margin: 0;
        }
        ul{
          margin: 1rem 0 0 0;
          padding: 0;
          width: 100%;
            li{
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 400;
                text-transform: capitalize;
                margin-bottom: 1rem;
            }
        }
        &.shipping{
          margin-bottom: 1.5rem;
          padding: 1.5rem;
          background: $offwhite;
            ul{
                li{
                  font-size: 1.1rem;
                  margin-bottom: 1rem;
                  background: $white;
                  border: 1px solid $border;
                  padding: 0 1rem;
                  .rate {
                    font-weight: 400;
                    font-size: 1.4rem;
                  }
                  &:hover {
                    background: $offwhite;
                    cursor: pointer;
                  }
                  .form-check {
                    width: 100%;
                    .form-check-label{
                      padding-top: 1rem;
                      padding-right: 1rem;
                      padding-bottom: 1rem;
                      width: 100%;
                    }
                    .form-check-input {
                      margin-top: 1.3rem;
                    }
                  }
                }
            }
            label{
                line-height: normal;
                margin-left: .5rem;
            }
            span{
                float: right;
            }
            small{
              display: block;
            }
        }
        .color-badge{
            width: 1.3rem;
            height: 1.3rem;
            display: inline-block;
            margin-right: .8rem;
            background-color: #555;
            vertical-align: bottom;
        }
    }
    .bx-inp{
        width: 100%;
        form{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0 1rem 0;
            .offer-text{
                color: $theme-secondary;
                //text-align: justify;
                margin: 0;
                font-size: 1.3rem;
            }
        }
    }
    .bx-btn{
      display: block;
      float: left;
      width: 100%;
        .btn{
            margin-top: 1rem;
            padding: .5rem;
            font-size: 1.4rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .shipping{
        .bx-inp{
            width: 100%;
            form{
                margin: 1rem 0;
            }
        }
    }
    .bx-inp{
        form{
            *{
                font-size: 1.4rem;
            }
        }
        .btn{
            background-color: $theme-secondary;
            text-transform: uppercase;
            color: #555;
            border: .1rem solid #ebebeb;

        }
    }
    .btn-payment{
        background-color: $theme-primary;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.bx-total{
    font-size: 1.4rem!important;
    font-weight: 600;
    text-transform: uppercase;
    color: #555;
    border:.1rem solid #ebebeb;
    border-width: .1rem 0;
    padding: 1rem 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    label{
      margin: 0;
      &.cart-price{
          font-size: 1.4rem;
          font-weight: 600;
          color: $theme-primary;
          margin-left: 1rem;
      }
      small{
          text-transform: capitalize;
      }
    }
    small {
      &.text {
        float: right;
        text-align: right;
        text-transform: capitalize;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
}



@media only screen and (max-width: 767px) {
    .my-cart{
        width: 100%;
        .bximg{
            height: 5rem;
        }
    }
    .cart-pad{
        flex-direction: column;
    }
    .order-summary{
        margin-left: 0;
        margin-top: 1.5rem;
        width: 100%;
    }
    .order-summary{
      position: inherit;
      top: 0;
      height: auto;
    }
}

.price{
    margin-top: 0rem;
    padding-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;
    label{
        margin: 0 .3rem 0 0;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: capitalize;
    }
    .offer{
        color: $theme-secondary;
    }
    .actual{
        color: #999;
        text-decoration: line-through;
    }
    .discount{
        background-color: $theme-secondary;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.1rem;
        padding: .2rem .5rem;
        font-weight: 500;
        margin-left: .2rem;
    }
    small{
        display: block;
        margin-top: .5rem;
    }
}

.promotional-offers {
  background: $white;
  padding: 1rem;
  border: 0.1rem dashed $theme-primary;
  border-left: 0.7692rem solid $theme-primary;
  flex-direction: column;
  h6 {
    font-size: 1.154rem;
    text-transform: capitalize;
    font-weight: 600;
    color: $theme-primary;
  }
  small {
    font-size: 1.077rem;
    text-transform: capitalize;
  }
  i {
    color: $theme-secondary;
    margin-right: 0.7692rem;
  }
}

.quantity-area {
  width: 100%;
    .btn-primary {
      text-transform: capitalize;
      padding-bottom: 0.4rem;
      background: #e8e6ed !important;
      border-color: #e8e6ed !important;
      color: $grey !important;
    }
    form {
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: 1.8rem .75rem;
      font-size: 1.4rem;
      line-height: 1.5;
      border-radius: .1rem;
      border-color: $border;
      &-plaintext {
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 1.8rem .75rem;
        background-color: transparent;
        border: solid transparent;
        color: $theme-secondary;
        font-size: 1.692rem;
        font-weight: 600;
        align-items: center;
      }
    }
      .calculator{
        align-items: center;
        justify-content: space-between;
        .form-control {
          width: 50%;
        }
        label {
          font-size: 1.3rem;
        }
        input[type="text"] {
          padding: 1.44rem;
        }
        .btn {
          padding: 0.50rem;
          border-radius: 0!important;
          background: #e8e6ed !important;
        }
        small {
          font-size: 1.077rem;
        }
      }
}
.free-sample-text{
  color: $success;
  font-size: 1.3rem;
}

@media only screen and (max-width: 991px) {
    .cart-pad{
        flex-direction: row;
    }
    .my-cart{
        flex: auto;
        margin-right: 0;
        width: 65%;
        tbody{
            td{
                font-size: 1.3rem;
            }
        }
    }

    .order-summary{
        /*        margin-left: 0;*/
        /*        margin-top: 1.5rem;*/
        flex: auto;
        flex-direction: row;
        width: 33.5%;
        .pad{
            flex: 1;
        }
    }

}
@media only screen and (max-width: 1024px){
  .my-cart {
    thead {
      th {
        text-transform: capitalize;
        font-size: 1.4rem;
        // &:first-child {
        //   width: 10%;
        // }
        &:nth-child(2) {
          width: 35%;
        }
      }
    }

    tbody {
      td {
        .label-unavailable {
          font-size: 1.154rem;
        }
      }
    }

    .bximg {
        width: 10rem;
      img {
        height: 10rem;
      }
    }
  }
}


@media only screen and (max-width: 991px){
  .my-cart {
    .demo2-col {
      .notify-me {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 767px){
  .my-cart {
    .demo2-col {
      .notify-me {
        width: 80%;
      }
    }
  }
  .cart-pad {
    display: flex;
    justify-content: stretch;
    flex-direction: column-reverse;
    .my-cart {
      width: 100%;
      .bximg {
          width: 10rem;
          height: auto;
      }
    }
    .order-summary {
      width: 100%;
      margin-left: 0;
      margin-bottom: 1.5rem;
    }
    .checkout {
      width: 100%;
    }
  }
  .profile-pad {
    .address-panel {
      .bx-address {
        flex: 0 0 100%;
      }
    }
  }
}

@media only screen and (max-width: 576px){
  .my-cart {
    .demo2-col {
      .notify-me {
        width: 100%;
      }
    }
  }
  .checkout {
    .make-payment {
      font-size: 1rem;
      .month, .year {
        padding-right: 1.5rem !important;
      }
      .card-body {
        font-size: 1rem;
        .nav-pills {
          .nav-link{
              padding: 0.5rem;
          }
        }
        .card-header {
          button {
            font-size: 1rem !important;
          }
        }
        .add-new-card {
          .form-group {
            .col-form-label {
              font-size: 1rem;
            }
            .form-control {
                font-size: 1rem;
            }
            .form-check-label {
              font-size: 1rem;
            }
          }
        }
        .saved-card-row {
          .ccvcol {
            margin: 0 !important;
          }
          .col-form-label {
            margin: 0 !important;
          }
        }
      }
    }
    .order-complete {
      .pad {
        flex-direction: column;
      }
      .shipping-info {
        margin-left: 0!important;
        min-width: 20rem !important;
        margin-top: 2rem;
      }
      .stepper-status {
        .connecting-line {
          left: 8rem;
        }
        ul {
          overflow: hidden;
          overflow-x: scroll;
          justify-content: flex-start;
          li {
            font-size: 1rem;
            margin: 0 1rem;
            span {
              width: 8rem;
              height: 5rem;
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
}
