.list{
    &-values{
        margin-bottom: 1rem;
        label{
            color: $base-color-light;
            margin-bottom: .25rem;
            display: block;
        }
        span{}
    }
}
.job{
    &-img{
        max-height: 4.8rem;
        min-width: 4.8rem;
        border: .1rem solid #707070;
    }
}

.installer{
    &-img{
        max-height: 10rem;
        min-width: 10rem;
        border: .1rem solid #707070;
    }
}

.update{
    &-img{
        max-height: 8rem;
        min-width: 8rem;
        border: .1rem solid #707070;
    }
}

.list{
    &-img{
        margin: 0;
        padding: 0;
        li{
            margin: 0 1rem 0 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            img{
                width: 10rem;
                height: 10rem;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &-number{
        margin: 0 0 1.5rem 0;
        padding: 0;
        li{
            margin: 0 0 .5rem 1.5rem;
            padding: 0;
        }
    }
}

.bx{
    &-sign{
        border: .1rem solid #707070;
        background-color: #fff;
        height: 15rem;
    }
}

.notification{
    position: fixed;
    top: 7.3rem;
    bottom: 0;
    right: 0;
    z-index: 9990;
    width: 30rem;
    background-color: #f0f0f0;
    padding: 1.5rem;
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin: 0 0 1.5rem 0;
            padding: 1.5rem;
            background-color: #fff;
            border: .1rem solid $base-border;
            p{
                color: $base-color-light;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}