@import url("../css/icomoon.css");

html{
    font-size: 62.5%; /* 0.625 x 16 = 10 Root */
    //scroll-behavior: smooth;
}

a,
a:not([href]):not([tabindex]){
    color: $btn-link-color;
    transition: all 0.5s ease;
    &:link{
        color: $btn-link-color;
    }
    &:hover{
        color: darken($btn-link-color, 10%);
    }
}

.modal{
    &-backdrop{
        &.show{
            opacity: .6;
        }
    }
}

mark{
    background-color: transparent;
    padding: 0;
}

/* Thai Font */
body[lang="th"]{
    @include font-kanit();
    .tooltip{
        @include font-kanit();
    }
}

body {
    color: $base-color;
    @include font-roboto();
    background-color: $bg-content;
    font-size: 1.4rem;
    transition: all 0.5s ease;
    padding-top: 7.3rem;
    //padding-bottom: 3.6rem;
    &.modal-open {
        padding-right: 0!important;
        .modal{
            padding-right: 0!important;
            // &-title{
            //     padding-top: .5rem;
            // }
            // .close{
            //     font-size: 3rem;
            //     font-weight: 400;
            // }
        }
    }
    &.inner{
        padding-bottom: 0;
        background-color: #fff;
        background: url("../images/stripe-left-nav.jpg") left top repeat-y;
        .header-panel{
            // @include box-shadow-no-top();
            // margin-bottom: .8rem;
            //background-color: $bg-head-inner;
            //background-color: #f6f6f6;

            // background-image: linear-gradient(to right top, #f0f1fa, #f1f2fa, #f3f3fa, #f4f4fb, #f5f5fb, #f6f6fb, #f6f6fc, #f7f7fc, #f8f8fd, #f9f9fd, #fafafe, #fbfbfe);
            // background-color: transparent;
            //border-bottom: .1rem solid #efefef;
            background-color: $theme-primary;
            
            



            //position: relative;
            padding: 0;
            .container-fluid{
                padding:0 2rem;
                //padding-right: 0;
                //background: url("../images/stripe-head.png") left bottom repeat-x;
            }
        }
        .logo{
            width: 25rem;
            background-color: $theme-primary;
            //height: auto;
            img{
                margin: 0;
            }
            a{
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 2.9rem 2rem;
                // .icon-nocnoc-com{
                //     margin-right: 0;
                // }
                // span{
                //     font-weight: 400;
                //     width: 100%;
                //     position: static;
                //     left: inherit;
                //     bottom: inherit;
                //     letter-spacing: .19rem;
                //     display: none;
                //     margin-left: -1rem;
                // }
            }
        }
        .header-items{
            ul.header-items-list li.language .dropdown-menu li{
                font-size: 1.1rem!important;
            }
        }
    }
}

.pull-right {
    float: right;
}

.btn{
    font-size: $base-font-size;
    //text-transform: capitalize;
    box-shadow: none!important;
    outline: none!important;
    border-radius: .2rem;
    line-height: 3.2rem;
    padding: 0 1.5rem;
    min-height: 3.2rem;
    vertical-align: inherit;
    font-weight: 500;
    &.btn{
        &-link{
            text-decoration: underline!important;
            &:hover{
                text-decoration: none!important;
            }
            &.icon{
                color: $base-color;
            }
            &.close{
                line-height: 2rem;
                min-height: 2rem;
                font-size: 3rem;
                font-weight: 400;
                text-decoration: none!important;
            }
        }
    }
    &.not-btn{
        &:hover{
            cursor: default;
        }
    }
    &.curved{
        border-radius: 2rem;
    }
    &.lesspad{
        line-height: 2rem;
        min-height: 2rem
    }
    &-group{
        .btn{
            border-radius: .2rem!important;
        }
    }
    .fas{
        margin-right: .5rem;
    }
    &-primary{
        background-color: rgba($btn-primary-color, 1)!important;
        border-color: $btn-primary-color!important;
        color: #fff!important;
        &:hover{
            background-color: rgba($btn-primary-color, .8)!important;
            color: #fff!important;
        }
        &.upload{
			max-height:3.2rem;
			font-size:1.2rem;
			}
    }
    &-secondary{
        background-color: rgba($btn-secondary-color, 1)!important;
        border-color: $btn-secondary-color!important;
        color: #333!important;
        &:hover{
            background-color: rgba($btn-secondary-color, .8)!important;
            color: #333!important;
        }
    }
    &-tertiary{
        background-color: rgba($btn-tertiary-color, 1)!important;
        border-color: $btn-tertiary-color!important;
        color: #fff!important;
        &:hover{
            background-color: rgba($btn-tertiary-color, .8)!important;
            color: #fff!important;
        }
    }
    &-quaternary{
        background-color: rgba($btn-quaternary-color, 1)!important;
        border-color: $btn-quaternary-color!important;
        color: #000!important;
        &:hover{
            background-color: rgba($btn-quaternary-color, .8)!important;
            color: #000!important;
        }
    }
    &-info{
        background-color: rgba($color-info, 1)!important;
        border-color: $color-info!important;
        color: #fff!important;
        &:hover{
            background-color: #fff!important;
            color: $color-info!important;
        }
    }
    &-success{
        background-color: rgba($text-success, 1)!important;
        border-color: $text-success!important;
        color: #fff!important;
        &:hover{
            background-color: #fff!important;
            color: $text-success!important;
        }
    }
    &-outline{
        &-primary{
            background-color: #fff!important;
            border-color: $btn-primary-color!important;
            color: $btn-primary-color!important;
            &:hover{
                background-color: rgba($btn-primary-color, 1)!important;
                color: #fff!important;
            }
        }
        &-secondary{
            background-color: #fff!important;
            border-color: $btn-secondary-color!important;
            color: $btn-secondary-color!important;
            &:hover{
                background-color: rgba($btn-secondary-color, 1)!important;
                color: #fff!important;
            }
        }
        &-tertiary{
            background-color: #fff!important;
            border-color: $btn-tertiary-color!important;
            color: $btn-tertiary-color!important;
            &:hover{
                background-color: rgba($btn-tertiary-color, 1)!important;
                color: #fff!important;
            }
        }
        &-white{
            background-color: transparent!important;
            border-color: #fff!important;
            color: #fff!important;
            &:hover{
                background-color: transparent!important;
                color: #fff!important;
            }
        }
        &-info{
            background-color: #ebebf7!important;
            border-color: $color-info!important;
            color: $color-info!important;
            &:hover{
                background-color: #ebebf7!important;
                color: $color-info!important;
            }
        }
        &-progress{
            background-color: #feedeb!important;
            border-color: $btn-primary-color!important;
            color: $btn-primary-color!important;
            &:hover{
                background-color: #feedeb!important;
                color: $btn-primary-color!important;
            }
        }
        &-success{
            background-color: #ebf6ed!important;
            border-color: $text-success!important;
            color: $text-success!important;
            &:hover{
                background-color: #ebf6ed!important;
                color: $text-success!important;
            }
        }
    }
    // &-link{
    //     color: $link-color-primary;
    //     text-transform: capitalize;
    //     &:hover{
    //         color: darken($link-color-primary, 10%);
    //     }
    //     &.primary{
    //         color: $base-active-color;
    //     }
    //     &.secondary{
    //         color: $link-color-secondary;
    //         &:hover{
    //             color: darken($link-color-secondary, 10%);
    //         }
    //     }
    // }

    &-pale{
        &-primary{
            background-color: $pale-primary!important;
            border-color: $pale-primary!important;
            color: $base-color!important;
            &:hover{
                background-color: darken($pale-primary, 6%)!important;
                color: $base-color!important;
            }
        }
        &-secondary{
            background-color: $pale-secondary!important;
            border-color: $pale-secondary!important;
            color: $base-color!important;
            &:hover{
                background-color: darken($pale-secondary, 6%)!important;
                color: $base-color!important;
            }
        }
        &-tertiary{
            background-color: $pale-tertiary!important;
            border-color: $pale-tertiary!important;
            color: $base-color!important;
            &:hover{
                background-color: darken($pale-tertiary, 6%)!important;
                color: $base-color!important;
            }
        }
        &-quaternary{
            background-color: $pale-quaternary!important;
            border-color: $pale-quaternary!important;
            color: $base-color!important;
            &:hover{
                background-color: darken($pale-quaternary, 6%)!important;
                color: $base-color!important;
            }
        }
    }
    &-green{
        background-color: $leafgreen !important;
        border-color:  $leafgreen !important;
        &:hover{
            color: $leafgreen !important;
        }
    }
    &-gradient{
        background:linear-gradient(180deg,#f8683c 0,#f02748);
        color:$white!important;
        &:active,&:hover{
            background:$base-active-color;
            background:linear-gradient(180deg,$base-active-color,$base-active-color 0,$base-active-color);
            color:#fff!important;
            background-color:$base-active-color;
        }
    }
    &-pink{
        background-color: $pink
    }
    &-lg{
        font-size: 1.8rem;
        min-height: 4rem;
        line-height: 4rem;
        padding: 0 2rem;
    }   
}

.form-group{
    &.countrycode{
        div{
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
        }
        select.form-control{
            //flex: 1;
            width: 6.5rem;
            border-right: .1rem solid $base-border;
        }
        input.form-control{
            width: auto;
            flex: auto;
        }
        .invalid-feedback{
            width: 100%;
        }
    }
    &.view-pswd{
        position: relative;
        margin-bottom: 1.5rem;
        .fa-eye,
        .fa-eye-slash{
            position: absolute;
            right: .75rem;
            bottom: 1.25rem;
            cursor: pointer;
            opacity: .75;
        }
        .is-invalid{
            & + {
                .fa-eye,
                .fa-eye-slash{
                    bottom: 3rem;
                }
            }
        }
    }
}

.form-control{
    &:disabled,
    &[readonly]{
        background-color: $bg-disabled;
    }
}

.flatpickr-input{
    &:disabled{
        background-color: $bg-disabled;
    }
}

.form-control,
.flatpickr-input{
    font-size: $base-font-size;
    border-radius: .1rem;
    border: .1rem solid $base-border;
    color: $base-color;
    vertical-align: top;
    line-height: 3rem;
    padding: 0 .75rem;
    box-shadow: none!important;
    &::-webkit-input-placeholder { /* Chrome */
        color: #bbb;
        font-size: $base-font-size;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: #bbb;
        opacity: 1;
        font-size: $base-font-size;
    }
    &[readonly] {
        &::-webkit-input-placeholder { /* Chrome */
            color: #bbb;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #bbb;
        }
    }
}

.form-check-label{
    margin-left: .5rem;
}

select{
    &.form-control{
        // &:not([size]):not([multiple]){
        //     height: 3.2rem!important;
        // }
        height: 3.2rem!important;
    }
}

input{
    &.form-control{
        &[type="number"] {
            padding-right: 0;
        }
    }
}

.form-control{
    &.multiselect{
        border-radius: .1rem;
        border: .1rem solid $base-border;
        padding: 0;
        line-height: normal;
    }
    &.rdw-editor-wrapper{
        padding: .5rem 0;
        background-color: #fff!important;
        .rdw-editor-toolbar.editorToolbar{
            margin: 0;
            padding: 0 .5rem;
            border: 0;
        }
        .rdw-editor-main{
            padding: 0 .9rem;
        }
    }
}

.custom-file-input:lang(en)~.custom-file-label::after{
    content: "Browse";
}



.form{
    &-row{
        .btn-panel{
            &.bottom{
                margin-top: 0;
            }
            &.left{
                text-align: left;
                margin-left: .5rem;
            }
        }
    }
}

.btn-panel{
    &.left{
        text-align: left;
        .btn{
            //margin-left: .5rem;
            margin-right: 1rem;
        }
    }
}




.table-responsive{
    overflow: auto;
}

.badge{
    border-radius: 50%;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    width: 1.6rem;
    height: 1.6rem;
    &.leftnav{
        background-color: #ff0707;
        border: .1rem solid #fff;
        color: #fff;
        position: absolute;
        top: 1rem;
        left: 3.25rem;
    }
}

.no-data{
    text-align: center;
    padding: 5rem 0;
    font-size: 4.8rem;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    label{
        font-size: 3.2rem;
        margin: 1.5rem 0 0 0;
    }
    i{
        font-size: 6.4rem;
        color: #ddd;
    }
}

.w-auto{
    width: auto;
}
.w-25{
    width: 25%;
}
.w-12rem{
    width: 12rem;
}

.size{
    &-11{
        font-size: 1.1rem;
    }
    &-12{
        font-size: 1.2rem;
    }
    &-135{
        font-size: 1.35rem;
    }
    &-175{
        font-size: 1.75rem;
    }
    &-20{
        font-size: 2rem;
    }
}

input[readonly] {
    cursor: default;
}

.text{
    &-primary{
        color: $link-color-primary!important;
    }
}

.btn-panel{
    &.bottom{
        margin: 0;
        .left{
            .btn{
                margin-left: 0;
                margin-right: 1rem;
            }
        }
        .right{
            .btn{
                margin-right: 0;
                margin-left: 1rem;
            }
        }
    }
}

.btn-group{
    .btn-outline{
        &-secondary{
            &:hover{
                background-color: $theme-secondary!important;
                border-color: $theme-secondary!important;
                color: #fff!important;
            }
        }
    }
}

.mand{
    color: $text-danger;
    margin-left: .3rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
}
sup{
    &.mand{
        top: 0;
        vertical-align: top;
    }
}

.css-10nd86i{
    border: .1rem solid $base-border!important;
    .css-vj8t7z{
        border-radius: .1rem;
        border: 0!important;
        min-height: 3rem;
        .css-1hwfws3{
            padding: 0 1rem;
        }
        .css-1ep9fjw{
            padding: 0 .5rem;
        }
    }
}

.css-10nd86i{
    border-radius: .1rem!important;
    border: .1rem solid $base-border!important;
}
.css-2o5izw{
    border-radius: .1rem!important;
    border: .1rem solid $base-border!important;
}

.bg{
    &-pale{
        &-primary{
            background-color: $pale-primary;
        }
        &-secondary{
            background-color: $pale-secondary;
        }
        &-tertiary{
            background-color: $pale-tertiary;
        }
        &-quaternary{
            background-color: $pale-quaternary;
        }
    }
}

.custom-scroll{
    max-height: 20rem;
    padding-bottom: 0;
    padding-right: 1rem;
    margin-right: -.5rem;
    overflow-x: hidden;       
    overflow-y: auto;
    /* width */
    &::-webkit-scrollbar {
        width: .75rem;
        transition: all 0.5s ease;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $bg-shade-secondary;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $bg-shade-primary; 
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $bg-shade-primary;
    }
}

.react-autosuggest{
        &__container{
            position: relative;
        }
        &__suggestions{
            &-container{
                &--open{
                background-color: #fff;
                border: .1rem solid $base-border;
                border-radius: 0 0 .1rem .1rem;
                position: absolute;
                left: 0;
                right: 0;
                top: 3.2rem;
                z-index: 4;
            }
        }
        &-list{
            margin: 0;
            padding: 0;
        }
    }
    &__suggestion{
        list-style: none;
        border-top: .1rem solid $base-border;
        cursor: pointer;
        padding: .5rem .75rem;
        background-color: $bg-shade-tertiary;
        color: $base-color-lighter;
        &:hover{
            background-color: $bg-shade-secondary;
            color: $base-color-darker;
        }
        &:first-child{
            border-top: 0;
        }
    }
}

.react-bootstrap-table-pagination{
    margin-top: 1rem;
    .page-item.active .page-link{
        background-color: $pagination-color;
        border-color: $pagination-color;
    }
}
.pagination{
    &.react-bootstrap-table-page-btns-ul{
        justify-content: flex-end;
        margin: 0;
        .page-item{
            .page-link{
                padding: .4rem .8rem;
            }
            &:first-child{
                .page-link{
                    border-top-left-radius: .1rem;
                    border-bottom-left-radius: .1rem;
                }
            }
            &:last-child{
                .page-link{
                    border-top-right-radius: .1rem;
                    border-bottom-right-radius: .1rem;
                }
            }
        }
    }
}

// .custom-select{
//     background-image: url("../images/select-arrow.png")!important;
//     background-position: 98% 1.3rem!important;
//     background-repeat: no-repeat!important;
//     background-size: auto!important;

//     &.light{
//         background-position: right -1.9rem!important;
//     }
//     &.btn{
//         padding: 0 2rem 0 .8rem;
//         width: auto;
//         text-align: left;
//         background-position: 95% -2.3rem !important;
//     }
// }


.blue-bg{
    background: $blue-bg;
    }
.darkblue-bg {
        background:$darkblue;
        color: $white
      }
    .search-bx {
        background: $base-border;
    }
        .btn-yellow{
        background: $yellowbtn!important;
        color: $black !important;
        text-transform:capitalize;
        }

.form-row{
    margin-left: -.75rem;
    margin-right: -.75rem;
    .form-group{
        margin-bottom: 1.5rem;
    }
}
.form-row>.col,
.form-row>[class*=col-]{
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-download{
    background:lighten($base-color-light,50%);
    width: 3rem;
    height: 3.2rem;
    margin-left: .5rem;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    i{
        color:$badge-color-head;
        padding: 0px;
        margin: 0px !important;
    }
    &:hover{
        background:lighten($base-color-light,25%);

    }
}

.mand{
    &-field{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: .5rem;
    }
}
.field-text{
    white-space: normal;   
    display: block;
}

//Flex utilities
.flex{
    &-one{
        flex: 1;
    }
    &-two{
        flex: 2;
    }
    &-auto{
        flex: auto;
    }
}

.bold{
    font-weight: 500;
}
.no-bold{
    font-weight: 400;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    body{
        &.inner{
            background-image: none;
            .header-panel{
                background-image: none;
                background-color: $theme-primary;
                .container-fluid{
                    background-image: none;
                }
                .header-items ul.header-items-list li{
                    a{
                        color: #fff!important;
                    }
                    .dropdown-item{
                        color: $base-color!important;
                    }
                }
            }
            .content{
                &-panel{
                    margin: 0 1.5rem 1.5rem 1.5rem;
                    h1{
                        // position: relative;
                        // z-index: 4;
                        background-color: transparent;
                        //margin-right: 5.1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body.inner .logo a span{
        display: none;
    }
}

.height-auto{
    height: auto !important;
    line-height: !important;

}

.valign-top{
    vertical-align: top;
}
.tick-icon{
    top:-10px;
    left: 50%;
    margin-left:-20px;
    i{
        font-size: 4.5rem;        
        &:before{
            color:$theme-quaternary;
        }
    }
    
}
.input-group>.custom-file{
    text-overflow: ellipsis;
    overflow: hidden;
    height: auto;
   
}
.orangetext{
    color: $theme-quaternary;
}
.filterby-bx{
    &.green select{
        background: $lightgreen;
        font-weight: 600;
    }
    &.greencompleted select{
        background: $happygreen;
        font-weight: 600;
    }
    &.yellow select{
        background: $lightyellow;
        font-weight: 600;
    }
    &.red select{
        background: $lightred;
        color:$lightredtext;
        font-weight: 600;
    }
    select option{
        background: $white !important;
        color: $black;      
    }
}
.tableorder-list{
    &.custom-scroll{
        max-height: 40rem;
    }    
    table {
       
        th{
            color: $white !important;
            background: $darkblue !important;
            border:none;
            text-align: left
        }
        td{
            word-break: break-word;
        }
    }
}
.edit-cost{
    &.custom-scroll{
        max-height:63rem;
    }
}    
.sty-unassigned{
    background: red
}
.max-w-75{
    max-width: 75px;
}
.table-disabled{
    opacity: .7;
    
}
.td-w{
    &-1{
    width:10%;
    }
    &-2{
        width:20%;
    }
    &-3{
        width:30%;
    }
    &-4{
        width:40%;
    }
    &-5{
        width:50%;
    }
}
.o-hidden{
    overflow: hidden;
}
.ui-disabled{
   
    background-color:$disabledbg; 
}
.custom-file-label{
    height: calc(2.25rem + 10px) !important;
    &:after{
        height: calc(calc(2.25rem + 10px) - 1px * 2) !important;
    }
}

.clearfix{
    overflow: hidden;
}
.bg-primary{
    background: $theme-primary;
}

.m{
    &t{
        &-20{
            margin-top: 2rem;
        }
        &-25{
            margin-top: 2.5rem;
        }
    }
    &b{
        &-20{
            margin-bottom: 2rem;
        }
        &-25{
            margin-bottom: 2.5rem;
        }
    }
    &l{
        &-125{
            margin-left: 1.25rem;
        }
    }
    &r{
        &-20{
            margin-right: 2rem;
        }
        &-125{
            margin-right: 1.25rem;
        }
    }
}

.box-shadow {
    // box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);#e5e5e5
    box-shadow: 0 .1rem .5rem .1rem rgba(0, 0, 0, .050);
}
.p-20{
    padding: 2rem;
}

hr{
    &.dashed{
        border-top: 0!important;
        background: url("../images/dashed.png") left top repeat-x;
        height: .1rem;
    }
}

.col{
    &-w{
        &-12{
            flex: 0 0 12%!important;
            max-width: 12%!important;
        }
        &-15{
            flex: 0 0 15%!important;
            max-width: 15%!important;
        }
    }
}

.bg{
    &-white{
        background-color: #fff;
    }
}

.font{
    &-14{
        font-size: 1.4rem;
    }
    &-15{
        font-size: 1.5rem;
    }
    &-16{
        font-size: 1.6rem;
    }
    &-17{
        font-size: 1.7rem;
    }
    &-18{
        font-size: 1.8rem;
    }
}

h5{
    &.admin-msg-title{
        margin: 1.5rem 0 1.5rem 0;
    }
}
.pg{
    &-dashboard{
        h5{
            &.admin-msg-title{
                margin-top: -1.5rem;
            }
        }
    }
}
/* time picker*/
.timepicker-wrap .fa-clock {
    position: absolute;
    right:2rem;
    top: 5rem;
    color: $base-color-lighter;
    z-index: 2;
    font-size: 1.5rem;
}
.rc-time-picker-input{
    border: none !important;
    outline: none !important;
    padding: 0px !important;
    height: 16px !important;
    &:focus{
        border: none!important;
        outline: none!important;
    }
}
.rc-time-picker-clear-icon{
    display: none !important;
}

.no-text-transform{
    text-transform: none!important;
}
.accorion-sec{
    .card-header{
        background: $darkblue;
        color: $white;
        padding: .1rem 1rem;
        h5{
            padding: .5rem 0;
            .btn-link{
                .fas{
                    color: $white;
                }
            }
        }
    }
    .btn-link{
        color: $white;
        font-size: 2.5rem;
        &:hover,&:focus{
            text-decoration: none;
        }
       
    }
}
.btn{
    &[disabled]{
        cursor: not-allowed!important;
        opacity: .75;
    }
    &-link{
        &-panel{
            .btn{
                padding: 0;
                text-decoration: underline;
                &.active{
                    color: $btn-primary-color!important;
                }
            }
            &.right{
                .btn{
                    margin-left: 1rem;
                }
            }
        }
    }
}

.vert{
    &-text{
        &-bottom{
            vertical-align: text-bottom;
        }
    }
}
.center-align{
    margin: 0px auto !important;
}

.color{
    &-success{
        color: $text-success;
    }
    &-info{
        color: $text-info;
    }
    &-primary{
        color: $color-primary;
    }
    &-base-color-light{
        color: $base-color-light;
    }
    &-base-color-lightest{
        color: $base-color-lightest;
    }
    &-red{
        color: red!important;
    }
}

.bx{
    &-alert{
        border: .1rem solid $base-border;
        background-color: #FAFAFA;
        i{
            vertical-align: text-top;
            font-size: 1.7rem;
        }
        label{
            margin: 0;
            &.pending{
                cursor: default!important;
            }
        }
        &.info{
            //color: $text-info;
            border-radius: .2rem;
        }
        &.success{
            color: $text-success;
            border-radius: .2rem;
        }
    }
}

.flex{
    &-1{
        flex: 0 0 50%;
    }
}

.default{
    &-file{
        border: .1rem solid $base-border;
        background-color: #fafafa;
        padding: 1.5rem;
        i{
            font-size: 2rem;
        }
    }
}

.progress-div{
    height: .5rem;
    border-radius: .5rem;
    background-color: #f1f1f1;
    position: relative;
    .bar{
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        content: "";
        height: .5rem;
        border-radius: .5rem;
    }
}

.no-bold{
    font-weight: lighter!important;
}
.underline{
    text-decoration: underline!important;
}

.bg{
    &-red{
        background-color: red!important;
    }
    &-info{
        background-color: $color-info!important;
    }
}

.text{
    &-success{
        color: $text-success!important;
    }
}

.rdw-editor-toolbar{
    font-size: $base-font-size;
}

.base-link{
    color: $base-link-color!important;
    text-decoration: none!important;
    &:hover{
        text-decoration: underline!important;
    }
}

.bubble{
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 1.7rem;
    display: inline-block;
}

.bg{
    &-danger{
        background-color: #ff0000;
    }
    &-success{
        background-color: #11d900;
    }
    &-info{
        background-color: #008ff7;
    }
}

.line-height-normal{
    line-height: normal;
}