.footer{
    background-color: $bg-footer-primary;
    margin-top: 0rem;
    .rights{
        background-color: $bg-footer-secondary;
        color: #fff;
        font-size: 1.2rem;
        padding: 0 3rem;
        .pad{
            height: 3.6rem;
        }
    }
    .foot-pad{
        padding: 2.5rem 3rem;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            text-transform: capitalize;
            font-size: 1.4rem;
            color: #888;
            margin-bottom: .5rem;
            &:last-child{
                margin-bottom: 0;
            }
            a{
                color: #888;
                text-decoration: none;
                font-weight: 400;
                &:hover{
                    color: $base-color-darker;
                }
            }
            span{
                width: 2rem;
                display: inline-flex;
                border: .1rem solid #999;
                text-align: center;
                padding: .2rem 0;
                margin-right: .7rem;
                background-color: #ececee;
                i{
                    padding: 0;
                    margin: 0 auto;
                }
            }
            h3{
                font-size: 1.6rem;
                font-weight: 500;
                text-transform: capitalize;
                margin: 0 0 1rem 0;
                color: $base-color;
            }
        }
        &.follow-us{
            a{
                background-color: $theme-primary;
                border: 0 solid $theme-primary;
                width: 3.2rem;
                height: 3.2rem;
                line-height: 3.2rem;
                text-align: center;
                display: inline-block;
                color: #fff;
                &:hover{
                    background-color: #fff;
                    color: $theme-primary;
                }
            }
        }
    }
}

body{
    &.inner{
        .footer{
            //display: none;
            background-color: transparent;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9;
    .rights{
        background-color: transparent;
        color: $base-color;
        text-align: right;
        font-size: 1.1rem;
        padding: 0;
        height: 3rem;
        line-height: 3rem;
        padding-right: 0;
        
        .container-fluid{
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
            .pad{
                background-color: $bg-footer-inner;
                padding: 0 1.5rem;
            }
            

        }
    }
        }
    }
}

@media only screen and (max-width: 992px) {
    .footer{
        ul{
            margin: 0;
            margin-top: 2.5rem;
            width: 33.3%;
        }
        .foot-pad{
            flex-direction: row;
            padding-top: 0;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

}

@media only screen and (max-width: 767px) {
    .footer{
        ul{
            width: 50%;
        }
    }
}

@media only screen and (max-width: 320px) {
    .footer{
        ul{
            width: 100%;
        }
    }
}

// Extra small devices (portrait phones, less than 736px)
@media (max-width: 736.98px) {
    .footer{
        .foot-pad{
            padding: 2.5rem 0;
        }
        .rights{
            padding: 1rem 0;
            .rights-text{
                margin-bottom: 0;
            }
            .address{
                display: none;
            }
            .pad{
                flex-direction: column;
                height: auto;
            }
        }
    }
}